/* Main Content Properties */

.content-container .img-container {
    height: 200px;
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
}

.content-container .img-container img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.content {
    text-align: center;
}

.content-container h1{
    margin-bottom: 8px;
    color: #0e8c81;
}

.content h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #0e8c81;
    letter-spacing: 0.3px;
}

.description {
    color: #8a8a8a;
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;
    max-width: 500px;
}